/*Basic Theme Settings*/
:root {
  /* Main Colors */
  --mainColor: #6900d1;
  --gradientColor01: #7800f1;
  --gradientColor02: #bb00c5;
  --backgroundColor01: #110022; 
  --backgroundColor02: #0a0014;
  --linkcolor: #6900d1;
  --backgroundCode: #10021f;

  /* Better Hljs */
  --backgroundName: rgba(0, 0, 0, .2);

  /* Gradients */
  --toggle-gradient: true;

  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: var(--mainColor);
  --rs-phone-color: var(--mainColor);
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;

  /* Custom Font google fonts*/
  --customFont: 'gg sans', sans-serif;

  /* Role Pill Settings */
    --pill-roundness: 16px;
    --pill-opacity: 30%;
    --pill-border: false; /* "true" to enable */

  /*Extra settings*/
  --\\--compact-title-bar: false;
  --\\--compact-input-box: false;
  --\\--compact-context-menu: false;
  --\\--compact-user-area: false;
  --\\--compact-channel-categories: false;
  --\\--compact-server-list: false;
  --\\--hide-nameplates: false;
  --\\--hide-guild-tags: false;
  --\\--hide-profile-effects: false;
  --\\--hide-avatar-decorations: false;
  --\\--hide-gradient-glow-usernames: false;
  --\\--hide-server-boost-goal: true;
  --\\--hide-server-activity: true;
  --\\--hide-user-activity: true;
  --\\--hide-context-menu-quick-reactions: true;
  --\\--hide-hover-quick-reactions: true;
  --\\--hide-image-edit-button: true;
  --\\--hide-gif-button: false;
  --\\--hide-sticker-button: false;
  --\\--hide-emoji-button: false;
  --\\--hide-apps-button: true;
  --\\--hide-gift-button: true;
  --\\--hide-help-button: true;
  --\\--hide-shop-button: false;
  --\\--hide-nitro-button: true;
  --\\--hide-active-now: true;
  --\\--hide-nitro-upsells: true;
  --\\--hide-vencord-desktop-platform-indicator: true;
  --\\--hide-cluttery-badges: false;
  --\\--darker-scrollbar: true;
  --\\--darker-hovered-message: true;
  --\\--prevent-sidebar-resizing: false;
  --\\--fix-minor-icon-misalignments: true;
}
