@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/hljs.css"); /* Code Block Styles */
@import url("https://DiscordStyles.github.io/RadialStatus/RadialStatus.css"); /* Radial Status */

@import url("https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-memberlist.css");
@import url("https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css");
@import url("https://davart154.github.io/Themes/Snippets/Chat%20Bar%20Context%20Menu/ChatContextMenuSource.css");


:root {
 
  --mainColor: #6900d1;
  --gradientColor01: #7800f1;
  --gradientColor02: #bb00c5;
  --backgroundColor01: #110022; 
  --backgroundColor02: #0a0014;
  --linkcolor: #6900d1;
  --backgroundCode: #10021f;

  --backgroundName: rgba(0, 0, 0, .2);

  --toggle-gradient: true;

  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: var(--mainColor);
  --rs-phone-color: var(--mainColor);
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;
  --customFont: 'gg sans', sans-serif;
}
.container__75920[data-nav-anchor-key='account_info_email_setting'] {
  .stack_dbd263>.text-md\/medium_cf4812 {
    font-size: 0;
    &::before {
      content: 'Hidden Email';
      font-size: 1rem;
    }
  }
}
.container__75920[data-nav-anchor-key='account_info_phone_setting'] {
  .stack_dbd263>.text-md\/medium_cf4812 {
    font-size: 0;
    &::before {
      content: 'Hidden Number';
      font-size: 1rem;
    }
  }
}
span.timestampInline_c19a55 time::before {
  content: "";
  font-size: 0.75rem;
  font-weight: 500;
}
.timestampInline_c19a55,
.timestamp_c19a55 {
  visibility: visible !important;
}
.cozy_c19a55:hover .timestampInline_c19a55,
.cozy_c19a55:hover .timestamp_c19a55 {
  visibility: visible !important;
}
[id^='message-content']>[class^='timestamp']>[class^='hiddenVisually_'] {
  clip: unset;
  clip-path: unset;
  width: unset;
  height: unset;
  position: unset;

  font-size: .625rem;
  font-weight: var(--font-weight-normal);
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &::before {
    content: "✎ edited on - (";
  }

  &::after {
    content: ")";
  }
}

.edited_c19a55:not(.message-translate-indicator) {
  display: none;
}

[class^=page] > [class^=container] > [class^=scroller] > [class^=contentSection] > [class^=content] {
    max-width: unset;
    > [class^=heroWrapper] { display: none; }
    > [class^=headingWrapper] { margin-top: unset; }
    > [class^=container] {
        max-width: unset;
        > [class] > [class^=container] > [class^=container] { &:has(> [class^=heroAssetWrapper]) , > [class^=rewardDescriptionContainer] > [class^=textContainer] > [class^=subtitleRow] > [role="button"] { display: none; } }
    }
}
.vc-notification-root {
  background: #8d063a46;
  backdrop-filter: blur(40px);
  border: 2px solid #b32b5838;
  filter: drop-shadow(0px 3px 8px #000000);
  transition: 0.5s ease;
}
.vc-notification-root:hover {
  background: #c5084765;
  border: 2px solid #b80d46a6;
  transition: 0.3s ease;
  transform: scale(99%) translateY(2%)  ;
}
.root__49fc1:has(.vc-settings-modal) {
  border: 2px solid #df1256c5;
  background: #c71e571e;
  backdrop-filter: blur(50px);
  transition: 0.1s ease;
}
      .fixedContent__409aa:after {
        border-top-left-radius:  8px;
        border-top-right-radius:  8px;
      }
      .content_e9e3ed {
        background: #00000046 !important;
      }
      .contentHeader_e9e3ed {
        background: transparent !important;
        background-color: transparent !important;
      } 
      .credentialItem__6c75d {background: none !important;}
      .credentialItem__6c75d:is(:first-child) {border:0px;}
      .credentialList__6c75d {
        background: #0c0c0c83 !important; 
        border-radius: 8px; 
        border: 1px solid var(--border-subtle);
      }
      .card__73069:not(.outline__73069) {background: none !important;}
      .defaultKeybindGroup__740f2 {background: #2b2a2a63 !important;}
      .vc-card-base {background: none !important;}
      .vc-settings-quickActions-pill {background: #55555571 !important;}
      .vc-settings-quickActions-pill:hover {background: #7e7e7e71 !important;}
      .vc-addon-card {background: none !important;}
      .appliedBoostContainer_ceb06a {
        background: none !important; 
        border: 1px solid var(--border-subtle);
      }
      .guildContainer__5dba5 {background: #3d3d3d52 !important;}
      .boostContainer_ceb06a {background: #141414a1 !important;}
      .wrapper__5b98e {background: #3d3d3d52 !important;}
      .expandedProgressBarContainerSettingsPage_a61c56 {
        background: none !important;
        backdrop-filter: none !important;
      }
      .accountProfileCard__1fed1 {
        background: #03030333 !important; 
        border: 1px solid var(--border-subtle);
      }
      .background__1fed1 {
        background: #1818183b !important; 
        border: 1px solid var(--border-subtle);
      }
      .fieldList__1fed1 {background: none !important;} */
      .cardPrimary__73069, .cardPrimary__73069.editable__73069 {
        background: #03030356 !important;
      }
    .container__8a031 {
        background: #14141494 !important; 
        backdrop-filter: blur(10px);
    }
span[id^='message-username']>.vc-std-wrapper {
  display: inline-flex;
  padding-right: 3px;
  text-indent: 0;
  height: 0;
  >.vc-text-base {
    font-size: 0;
    >span {
      font-size: 1rem;
      margin: 0;
      font-family: 'Calibri';
      &::before {
        content: ' [';
        margin-right: -0.2em;
      }
      &::after{content: ']';}
    }
  }
}
.sidebar__5e434>.guilds__5e434 {
  &, +.vc-betterFolders-sidebar{
    transition: 0.25s ease-in-out;
    width: var(--space-8);
    opacity: 0;
  }
  &:hover, &:hover+.vc-betterFolders-sidebar, +.vc-betterFolders-sidebar:hover {
    width: var(--custom-guild-list-width);
    opacity: 1 !important;
  }
}
