@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");
@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://xcruxiex.github.io/themes/core/hljs.css"); /* Code Block Styles */
@import url("https://DiscordStyles.github.io/RadialStatus/RadialStatus.css"); /* Radial Status */

@import url("https://raw.githubusercontent.com/amozeo/discord-css-snippets/refs/heads/main/snippets/compact-memberlist.css");
@import url("https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css");
@import url("https://davart154.github.io/Themes/Snippets/Chat%20Bar%20Context%20Menu/ChatContextMenuSource.css");


:root {
 
  --mainColor: #6900d1;
  --gradientColor01: #7800f1;
  --gradientColor02: #bb00c5;
  --backgroundColor01: #110022; 
  --backgroundColor02: #0a0014;
  --linkcolor: #6900d1;
  --backgroundCode: #10021f;

  --backgroundName: rgba(0, 0, 0, .2);

  --toggle-gradient: true;

  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: var(--mainColor);
  --rs-phone-color: var(--mainColor);
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;

  /* Custom Font */
  --customFont: 'gg sans', sans-serif;
}



/* Custom Mail & Number */
.container__75920[data-nav-anchor-key='account_info_email_setting'] {
  .stack_dbd263>.text-md\/medium_cf4812 {
    font-size: 0;
    &::before {
      content: 'Hidden Email';
      font-size: 1rem;
    }
  }
}
.container__75920[data-nav-anchor-key='account_info_phone_setting'] {
  .stack_dbd263>.text-md\/medium_cf4812 {
    font-size: 0;
    &::before {
      content: 'Hidden Number';
      font-size: 1rem;
    }
  }
}



/**──────────║ Detailed TimeStamps ║──────────*/
span.timestampInline_c19a55 time::before {
  content: "";
  font-size: 0.75rem;
  font-weight: 500;
}
.timestampInline_c19a55,
.timestamp_c19a55 {
  visibility: visible !important;
}
.cozy_c19a55:hover .timestampInline_c19a55,
.cozy_c19a55:hover .timestamp_c19a55 {
  visibility: visible !important;
}
[id^='message-content']>[class^='timestamp']>[class^='hiddenVisually_'] {
  clip: unset;
  clip-path: unset;
  width: unset;
  height: unset;
  position: unset;

  font-size: .625rem;
  font-weight: var(--font-weight-normal);
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &::before {
    content: "✎ edited on - (";
  }

  &::after {
    content: ")";
  }
}

.edited_c19a55:not(.message-translate-indicator) {
  display: none;
}

[class^=page] > [class^=container] > [class^=scroller] > [class^=contentSection] > [class^=content] {
    max-width: unset;
    > [class^=heroWrapper] { display: none; }
    > [class^=headingWrapper] { margin-top: unset; }
    > [class^=container] {
        max-width: unset;
        > [class] > [class^=container] > [class^=container] { &:has(> [class^=heroAssetWrapper]) , > [class^=rewardDescriptionContainer] > [class^=textContainer] > [class^=subtitleRow] > [role="button"] { display: none; } }
    }
}
